body {
  height: 100vh;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)!important;
}

.message-markdown > ol, ul {
  list-style-position: inside;
}

.message-markdown > p {
  margin: 5px 0px;
}
